<header>
    <div>
        <button class="toggle-btn" onclick="toggleSidebar()">☰</button>
        <button class="night-mode-btn" onclick="toggleNightMode()"><i class="fas fa-moon"></i></button>
    </div>
    <h2><%= header %></h2>
    <span class="date"><%= new Date().toLocaleDateString() %></span>
</header>
