<div class="sidebar" id="sidebar">
    <div class="logo-container">
        <a href="/"><img src="/images/logo.png" alt="Logo" class="logo"></a>
    </div>
    <nav>
        <ul>
            <li><a href="/foodFolder/dashboard" class="active"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
            <li><a href="/foodFolder/orders"><i class="fas fa-shopping-cart"></i> Orders</a></li>
            <li><a href="/foodFolder/products"><i class="fas fa-box-open"></i> Products</a></li>
            <li><a href="/foodFolder/users"><i class="fas fa-users"></i> Users</a></li>
            <li><a href="/foodFolder/reviews"><i class="fas fa-star"></i> Reviews</a></li>
            <li><a href="/foodFolder/settings"><i class="fas fa-cog"></i> Settings</a></li>
        </ul>
    </nav>
    <div class="user-info">
        <img src="/images/user.jpg" alt="User" class="user-avatar">
        <p>Rebecca Martins</p>
        <p>Waitress</p>
    </div>
    <a href="#" class="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
</div>
